@keyframes rotateOutZ {
    0%{opacity: 100%; transform: rotateZ(270deg);}
    100%{opacity: 0%; transform: rotateZ(0deg); display: none;}
}
.anim-rotateOutZ{
    display: inline-block;
    animation: rotateOutZ 1s linear 0ms 1 normal both;
}
@keyframes rotateOutY {
    0%{opacity: 100%; transform: rotateY(270deg);}
    100%{opacity: 0%; transform: rotateY(0deg); display: none;}
}
.anim-rotateOutY{
    display: inline-block;
    animation: rotateOutY 1s linear 0ms 1 normal both;
}
@keyframes rotateOutX {
    0%{opacity: 100%; transform: rotateX(270deg);}
    100%{opacity: 0%; transform: rotateX(0deg); display: none;}
}
.anim-rotateOutX{
    display: inline-block;
    animation: rotateOutX 1s linear 0ms 1 normal both;
}