@media screen and (max-width: 820px) and (min-width: 600px) {
.tablet-nodisplay{
display: none !important;
}
}
@media screen and (max-width: 600px){
.phone-nodisplay{
display: none !important;
}
}
@media screen and (min-width: 820px){
.desktop-nodisplay{
display: none !important;
}
}