.shadow-1{text-shadow: 1px 1px 1px black; box-shadow: 1px 1px 1px black;}
.shadow-2{text-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black;}
.shadow-3{text-shadow: 3px 3px 3px black; box-shadow: 3px 3px 3px black;}
.shadow-4{text-shadow: 4px 4px 4px black; box-shadow: 4px 4px 4px black;}
.shadow-5{text-shadow: 5px 5px 5px black; box-shadow: 5px 5px 5px black;}
.shadow-6{text-shadow: 6px 6px 6px black; box-shadow: 6px 6px 6px black;}
.shadow-7{text-shadow: 7px 7px 7px black; box-shadow: 7px 7px 7px black;}
.shadow-8{text-shadow: 8px 8px 8px black; box-shadow: 8px 8px 8px black;}
.shadow-9{text-shadow: 9px 9px 9px black; box-shadow: 9px 9px 9px black;}
.shadow-10{text-shadow: 10px 10px 10px black; box-shadow: 10px 10px 10px black;}