@keyframes flyIn {
    0%{opacity: 0%; transform: translateY(50%);}
    100%{opacity: 100%; transform: translateY(0);}
}
.anim-flyIn{
    display: inline-block;
    animation: flyIn 750ms linear 0ms 1 normal both;
}